body{
    background-image: url(OIP.jpg);
    background-size : cover;
}
.form-body{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
form{
    display: flex;
    flex-direction: column;
}
.main-header{
    text-align: center;
    margin-bottom: 20px;
}
.main-title{
    font-size: 40px;
}
label{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}
input{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(179, 7, 242);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
ul {

    margin: 0;
    padding: 0;
}
li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}

#buy1{
    background-color: green;
}

#buy2 {
    background-color: yellow;
}

#buy3 {
    background-color: red;  
}